<%- include('header.ejs') %>
<% commits.forEach((commitGroup) => { %>
  <h2><%= commitGroup.branch %></h2>
  <ul>
    <% commitGroup.commits.forEach((commit) => { %>
      <li>
        <strong><a href="<%= commit.html_url %>" target="_blank"><%= commit.commit.message %></a></strong><br>
        Author: <%= commit.commit.author.name %><br>
        Date: <%= formatDate(commit.commit.author.date) %>
      </li>
    <% }); %>
  </ul>
<% }); %>
<%- include('footer.ejs') %>
