<%- include('header.ejs') %>
<h1>Readmes</h1>
  <div class="button-container">
    <button onclick="revealAll()">Reveal All</button>
    <button onclick="hideAll()">Hide All</button>
  </div>

  <% readmes.forEach((readme) => { %>
    <h2 onclick="toggleContent(this)" class="<%= (readme.content.trim() === 'Not Found' || readme.content.trim() === '' || readme.content.startsWith('Error fetching') || readme.rowCount < 2) ? 'branch-notfound' : '' %>">
      <span class="arrow arrow-closed"></span>
      <%= readme.branch %> - number of rows: <%= readme.rowCount %>
    </h2>
    <div class="readme-content" style="display: none;"><%- readme.content %></div>
  <% }); %>
  <%- include('footer.ejs') %>
